<div class="mt-3">
  <mat-card>
    <mat-card-title> Predefined Invoice Item</mat-card-title>
    <mat-card-content>
      <button class="close" mat-button (click)="onClose(null)">X</button>
      <div class="row">
        <div class="col">
          <mat-form-field class="w-100">
            <mat-label>Title</mat-label>
            <input
              matInput
              placeholder="Tax Number"
              [(ngModel)]="predefiniedInvoiceModel.title"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="w-100">
            <mat-label>Count</mat-label>
            <input matInput placeholder="count" [(ngModel)]="predefiniedInvoiceModel.count"/>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="w-100">
            <mat-label>Unit</mat-label>
            <input matInput placeholder="unit" [(ngModel)]="predefiniedInvoiceModel.unit"/>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="w-100">
            <mat-label>Netto price</mat-label>
            <input matInput placeholder="Netto price" [(ngModel)]="predefiniedInvoiceModel.unitNettoPrice"/>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="w-100">
            <mat-label>Vat</mat-label>
            <input matInput placeholder="vat" [(ngModel)]="predefiniedInvoiceModel.vat" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button mat-raised-button color="primary" (click)="onSubmit()">
            Submit
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
