<div class="mt-3" style="width: 70%">
  <mat-card>
    <mat-card-title> Seller</mat-card-title>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>Company Name</mat-label>
            <input
              matInput
              placeholder="Company Name"
              [(ngModel)]="sellerData.companyName"
            />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <mat-label>Account Number</mat-label>
            <input
              matInput
              placeholder="Account Number"
              [(ngModel)]="sellerData.accountNumber"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>Town</mat-label>
            <input matInput placeholder="Town" [(ngModel)]="sellerData.town" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <mat-label>Street</mat-label>
            <input
              matInput
              placeholder="Street"
              [(ngModel)]="sellerData.street"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>Postal Code</mat-label>
            <input
              matInput
              placeholder="Postal Code"
              [(ngModel)]="sellerData.postalCode"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button mat-raised-button color="primary" (click)="onUpsertSeller()">
            Submit
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
