<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="navbar-brand">Invoices</span>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSuppotedContent"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSuppotedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          *ngIf="loggedIn()"
          routerLink="/invoice-add"
          routerLinkActive="active"
          >Issue an Invoice</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          *ngIf="loggedIn()"
          routerLink="/invoice-list"
          routerLinkActive="active"
          >Invoice List</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          *ngIf="loggedIn()"
          routerLink="/contractor-list"
          routerLinkActive="active"
          >Contractor List</a
        >
      </li>
    </ul>
    <ul class="navbar-nav">
      <a
        class="nav-link"
        *ngIf="!loggedIn()"
        routerLink="/login"
        routerLinkActive="active"
        >Login</a
      >
      <a
        class="nav-link"
        *ngIf="!loggedIn()"
        routerLink="/register"
        routerLinkActive="active"
        >Register</a
      >
      <a
        class="nav-link"
        style="cursor:pointer"
        *ngIf="loggedIn()"
        routerLink="/settings"
        >Settings</a
      >
      <a
        class="nav-link"
        style="cursor:pointer"
        *ngIf="loggedIn()"
        routerLink="/register"
        (click)="logoutUser()"
        >Logout</a
      >
    </ul>
  </div>
</nav>
<div class="container">
<ngx-spinner></ngx-spinner>

  <router-outlet></router-outlet>
</div>
